body {
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
    margin: 0;
}

#haskell_logo {
    width: 220px;
    height: 88px;
    float: left;
}

#navbar {
    padding: 28px 20px 22px;
    float: right;
}

.navlink {
    padding: 0 15px;
    font-size: 20px;
    line-height: 50px;
}

.navlink:link, .navlink:visited {
    color: #888888;
    text-decoration: none;
}

.navlink:hover {
    color: #555555;
    text-decoration: none;
}

header {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

#pattern {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    background: #0000ff url("../img/pattern.png") round;
}

#intro_text {
    color: #eeeeee;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

#description {
    color: #cccccc;
    font-size: 20px;
    text-align: center;
}

#code {
    width: 550px;
    color: #aaaaaa;
    font-size: 15px;
    margin: 20px auto;
}

#intro_container {
    width: 1200px;
    margin: auto;
}

#content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

#side {
    width: 250px;
    margin: 0;
    padding-top: 40px;
    float: left;
    position: fixed;
}

.index {
    font-size: 18px;
    line-height: 36px;
}

#index_title {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    line-height: 48px;
}

.index a:link, .index a:visited {
    color: #555555;
    text-decoration: none;
}

.index a:hover {
    color: #333333;
    text-decoration: underline;
    font-weight: bold;
}

#main {
    width: 900px;
    margin: 0;
    float: right;
}

code {
    background-color: #f7f7f7;
}

.maintitle {
    margin: 0;
    font-size: x-large;
    padding: 10px;
}

.subtitle {
    margin: 0;
    font-size: large;
    padding: 10px;
}

article p {
    margin: 0;
    font-size: 17px;
    word-wrap: break-word;
    word-break: normal;
    text-align:justify;
    line-height: 1.8;
    padding: 10px;
}

article pre {
    margin: 0;
    background-color: #f7f7f7;
    padding: 10px 40px;
}

article img {
    padding: 10px;
}

.empty {
    margin: 0;
    height: 200px;
}

#footerl {
    float: left;
}

#footerc {
    float: left;
    position: relative;
    left: 15%;
}

#footerr {
    float: right;
}

#footer_container {
    width: 1200px;
    height: 20px;
    color: #bbbbbb;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
}

footer {
    margin: 0;
    padding: 25px;
    background-color: #333333;
}